div {
  display: block;
}

.studentIndicatorDisplay {
  transform: rotate(270deg);
  transform-origin: 0% 50%;
  display: inline-block;
}

.studentIndicator {
  text-align: center;
  width: 100%;
}

.studentIndicatorBtn {
  border-radius: 4px;
  font-weight: bolder;
  padding: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}
