.studentIndicatorDisplay {
  transform: rotate(270deg);
  transform-origin: 0% 50%;
  display: inline-block;
}

.studentIndicatorDisplay > * {
  position: relative;
  top: 25px;
  left: -85%;
  height: 50px;
}

.studentIndicatorBtn {
  width: 50px;
  height: 50px;
}

.studentIndicator {
  text-align: center;
  width: 50px;
}

.studentIndicator > * {
  display: block;
}

.studentIndicatorBtn {
  border-radius: 4px;
  font-weight: bolder;
  padding: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.displayWrapper {
  height: 160px;
}
